#albert {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    max-width: 80%;
    z-index: 99;
    transform-origin: center;
}

#albert.level .speech-text {
    border-color: #FCC470;
    background-color: #FFDD89;
}

#albert.level .speech-name {
    background-color: #FCC470;
}

#albert.level .speech-btn{
    background-color: #E2AA56;
}

#albert .speech-text {
    height: 200px;
    overflow: scroll;
}

#albert .speech-text p {
    font-size: 14px;
}

#albert .speech-btn {
    color: white;
}

#albert.sleep {
    animation: sleep .3s ease-out forwards;
}

#albert.wake {
    animation: show .8s ease-in-out forwards;
}

@keyframes show {
    from {
        transform: translateX(-50%)rotate(0deg);
    }

    30% {
        transform: translateX(-50%) scale(1.05) rotate(2deg);
    }

    60% {
        transform: translateX(-50%) scale(0.95) rotate(-2deg);
    }

    to {
        transform: translateX(-50%) rotate(0deg);
    }
}

@keyframes sleep {
    to {
        opacity: 0;
    }
}