* {
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
}


/* Container */

.custom-container {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 768px;
    margin: auto;
}

@media (min-width: 1024px) {
    .custom-container {
        max-width: 80%;
    }
}

/* Speech */

.speech {
    position: relative;
    margin: 20px;
    width: 100%;
}

.speech-name {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    width: fit-content;
    padding: 5px 10px;
    margin-bottom: -20px;
    margin-left: 20px;
    border-radius: 20px;
}

.speech-name .character-icon {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    transform: rotate(-10deg);
}

.speech-name .character-name {
    padding: 0 4px 0 8px;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 12px;
    text-transform: uppercase;
}

.speech-text {
    padding: 20px 25px 50px;
    border-radius: 20px;
    border: 8px solid black;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
}

.speech-text p {
    margin-bottom: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    line-height: 140%;
}

.speech-btn.btn {
    position: absolute;
    padding: 5px 15px;
    bottom: 18px;
    right: 16px;
    font-size: 14px;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    background-color: black;
}

.speech-btn:focus.btn {
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
}

.speech-btn:active.btn {
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(3px);
}

.speech-about .speech-name {
    background-color: #B3B3B3;
}

.speech-about .speech-text {
    background-color: white;
    border-color: #B3B3B3;
}

.speech-about .speech-btn.btn {
    background-color: #808080;
}


/* Buttons */

.btn-shadow {
    display: block;
    width: fit-content;
    padding: 15px 25px;
    color: white;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.1);
}

.btn-shadow:focus {
    -webkit-box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.1);
}

.btn-shadow:active {
    -webkit-box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(4px);
}

.btn-shadow:hover {
    color: white;
}

.btn-submit {
    margin: auto;
    background-color: #7FD3F5;
}

.btn-infos {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 25px;
    line-height: 50px;
    color: #580FA7;
    background-color: white;
    border-radius: 40px;
}

.btn-infos:hover {
    color: #580FA7;
}


/* Helpers */

.fullWindow {
    width: 100%;
    height: 100%;
}

.float {
    animation-name: Floating;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes Floating {
    from {
        transform: translate(0, 0px) rotate(0deg);
    }
    25% {
        transform: translate(0, 15px) rotate(1deg);
    }
    50% {
        transform: translate(0, 0px) rotate(0deg);
    }
    75% {
        transform: translate(0, 15px) rotate(-1deg);
    }
    to {
        transform: translate(0, -0px) rotate(0deg);
    }
}